<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<div id="throbber" style="display:none; min-height:120px;"></div>
<div id="noty-holder"></div>
<div id="wrapper">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand"></a>
    </div>
    <ul class="nav navbar-right top-nav"></ul>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav side-nav">
        <li>
          <a routerLink="/applicant" routerLinkActive="active">
            <i class="fa fa-user fa-lg"></i> Applicant </a>
        </li>
        <li>
          <a routerLink="/student" routerLinkActive="active">
            <i class="fa fa-user fa-lg"></i> Students </a>
        </li>
        <li>
          <a routerLink="/attendance" routerLinkActive="active">
            <i class="fa fa-file fa-lg"></i> Attendance </a>
        </li>
      </ul>
    </div>
  </nav>

  <div id="page-wrapper">
    <div class="container-fluid">
      <div class="row" id="main">
        <div class="col-sm-12 col-md-12" id="content">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>