<div class="container-fluid">
  <div class="row">
    <div class="col-4 offset-8 text-right">
      <input type="button" value="ADD NEW APPLICANT" class="btn btn-primary form-control" routerLink="/add-applicant">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-horvered table-striped">
        <thead>
          <tr>
            <th>CPF</th>
            <th>Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>123145</td>
            <td>Matheus Catossi</td>
            <td>matheuscatossi@gmail.com</td>
          </tr>
          <tr>
            <td>123145</td>
            <td>Matheus Catossi</td>
            <td>matheuscatossi@gmail.com</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>